<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <title>Book appointment</title>
</head>
<body>
	<form action="/" method="POST" class="container">
        <button type="submit">Book appointment</button>
        <br>
        <label>
            Name: <input type="text" name="name" placeholder="Enter your name" />
        </label>
        <br>
        <label>
            Phone Number: <input type="number" name="number" placeholder="Enter PhoneNumber" />
        </label>
        <br>
        <label>
            Email: <input type="text" name="email" placeholder="Enter Email" />
        </label>
        <br>
        <label>
            Date: <input type="date" name="date" placeholder="dd/mm/yyyy"  />
        </label>
        <br>
        <label>
            Time: <input type="text" name="time" placeholder="hh:mm:ss" />
        </label>
        <br>
        <label>
            Reason for the appointment: <br><textarea  name="comment" placeholder="Reason for appointment"></textarea>
        </label>
        <br>
    </form>
</body>
</html>